---
import Navigation from '@components/Navigation.astro';
import OptimizedPicture from '@components/OptimizedPicture.astro';
import Layout from '@layouts/Layout.astro';
import profile from './_profile.png';
---

<Layout title="소개">
  <main>
    <article>
      <OptimizedPicture src={profile} alt="사진" />
      <p>
        김우섭입니다. 서울대학교 불어교육과를 졸업했으며, 카카오에서 백엔드
        엔지니어로 일하고 있습니다. 펭귄 그리고 조류를 사랑합니다. 남는 시간에는
        글을 쓰거나, <a href="https://github.com/wooseopkim">코딩</a>을 하고,
        영화와 책을 봅니다. 커피 대신에 차를 마시고, 산책과 하늘 보기를
        즐깁니다. 여러 군데에 제법 진지한 금액으로 정기 후원을 하고 있습니다.
        포탈 시리즈, 스탠리 패러블과 디스코 엘리시움을 감명깊게 플레이했습니다.
        낯을 가리지만 사람을 좋아합니다. 지상파 채널에 두 번 나온 적이 있고,
        실내외로 텃밭을 차려보았으며, 연예기획사와 직장인 커뮤니티를 비롯해
        특이한 외주 경험이 몇 번 있습니다.
      </p>
      <footer>
        <Navigation to="home" />
        <a href="https://open.kakao.com/me/wooseop" target="_blank"
          >말 걸어보기</a
        >
      </footer>
    </article>
  </main>
</Layout>

<style>
  main {
    align-items: center;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
</style>
