---
import Navigation from '@components/Navigation.astro';
import Layout from '@layouts/Layout.astro';
import profile from './profile.jpg';
import OptimizedPicture from '@components/OptimizedPicture.astro';
---

<Layout title="소개">
  <main>
    <article>
      <OptimizedPicture src={profile} alt="사진" />
      <p>
        김우섭입니다. 서울대학교 불어교육과를 졸업했으며, 카카오에서 백엔드
        엔지니어로 일하고 있습니다. 펭귄을 사랑합니다. 남는 시간에는 소설과 시를
        쓰거나, <a href="https://blog.wooseop.kim">블로그</a>를 가꾸거나, 음악을
        듣거나, <a href="https://github.com/wooseopkim">코딩</a>을 합니다.
        산책과 하늘 보기를 즐깁니다. 몇 군데에 소액 후원을 하고 있습니다. 발더스
        게이트 3와 디스코 엘리시움을 감명깊게 플레이했습니다. 낯을 가리지만
        사람을 좋아합니다. 방송에 나온 적이 있고, 실내외 텃밭을 가꾼 적이
        있으며, 특이한 외주를 해본 적 있습니다.
      </p>
      <footer>
        <Navigation to="home" />
        <a href="https://open.kakao.com/me/wooseop" target="_blank"
          >말 걸어보기</a
        >
      </footer>
    </article>
  </main>
</Layout>

<style>
  main {
    align-items: center;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
</style>
