---
import Layout from '@layouts/Layout.astro';
import FormattedDate from '@components/FormattedDate.astro';
import { type Post, getPosts } from '@lib/posts';
import Navigation from '@components/Navigation.astro';

const posts = await getPosts();

type Entry =
  | {
      type: 'header';
      content: string;
    }
  | {
      type: 'article';
      content: Post;
    };

const entries: Entry[] = posts.reduce<Entry[]>((entries, post) => {
  const currentYear = post.data.date.getFullYear();
  const lastEntry = entries[entries.length - 1];
  const yearChanged =
    lastEntry?.type === 'article' &&
    lastEntry.content.data.date.getFullYear() !== currentYear;
  const header: Entry[] =
    entries.length === 0 || yearChanged
      ? [
          {
            type: 'header',
            content: String(currentYear),
          } as const,
        ]
      : [];

  return [...entries, ...header, { type: 'article', content: post }];
}, []);
---

<Layout title="기록">
  <main>
    <ul>
      {
        entries.map(({ type, content }) =>
          type === 'header' ? (
            <h3>{content}</h3>
          ) : (
            <li>
              <FormattedDate date={content.data.date} />
              <a href={content.$link}>{content.data.title}</a>
            </li>
          ),
        )
      }
    </ul>
    <Navigation to="home" />
  </main>
</Layout>

<style>
  ul {
    max-width: min(80ch, 100%);
    margin: auto;
  }

  @media (min-width: 720px) {
    li a:not(:first-child) {
      margin-inline-start: 1ch;
    }
  }

  @media (max-width: 720px) {
    li a {
      display: block;
      min-width: 100%;
      margin-inline-start: initial;
    }
  }

  ul ~ :global(:last-child) {
    margin-block-start: 2rem;
    text-align: end;
  }
</style>
