<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="same-origin" />
  {{ if .IsPage }}<meta name="description" content="{{ .Summary }}">{{ end }}

  <title>
    {{ if not .IsHome }}
      {{ .Title }}
    {{ else }}
      {{ $.Site.Title }}
    {{ end }}
  </title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥀</text></svg>">

  {{ with resources.GetRemote "https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css" }}
    <link rel="stylesheet" href="{{ (. | minify | fingerprint).RelPermalink }}">
  {{ end }}
  {{ with resources.GetMatch "styles/*.css" }}
    <link rel="stylesheet" href="{{ (. | minify | fingerprint).RelPermalink }}">
  {{ end }}
  {{ with resources.GetMatch "scripts/*.js" }}
    <script src="{{ (. | minify | fingerprint).RelPermalink }}"></script>  
  {{ end }}
  {{ with resources.GetRemote "https://unpkg.com/tachyonjs/tachyon.js" }}
    <script src="{{ (. | minify | fingerprint).RelPermalink }}" defer></script>  
  {{ end }}
</head>
